<header class="navbar navbar-static-top masthead">

      <div class="container">
        <hgroup class="header-image navbar-left">
          <a class="logo" href="/"><img id="brand-logo" src="{{ url_for('static', filename='dataviz_logo.png') }}" class="rounded" alt="LOSD" title="LOSD"></a>
        </hgroup>

            <nav class="section navigation">
                <ul class="nav nav-pills">
                <li><a href="https://losd-data.staging.derilinx.com/" target="_blank">Data Catalog</a></li>
                <li><a href="http://losd.staging.derilinx.com:8890/conductor/" target="_blank">RDF Store</a></li>
                <li><a href="http://losd.staging.derilinx.com:8084/" target="_blank">OLAP Browser</a></li>
                <li><a href="https://losd-data.staging.derilinx.com/about">About</a></li>
                </ul>
          </nav>
      </div>
</header>


